body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
    display: flex;
    justify-content: space-between;
    border-bottom: solid gray;
    max-height: 10vh;
    top: 0;
    left: 0;
    width: 100%;
}

footer{
  display: flex;
  justify-content: space-between;
  border-top: solid gray;
  max-height: 10vh;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

header .logo{
  width: 5%;
  height: 5%;
}

header .link{
  margin: 20px;
}

#page_title{
  margin: 20px;
}

#top_right{
  width: 10%;
  height: -40%;
}

.centered{
  padding-top: 15vh;
  padding-bottom: 15vh;
  text-align: center;
}

#text_box{
  width: 300px;
}

.button_layout{
  text-align: center;
  padding-bottom: 50vh;
}

.button {
  display: inline-block;
  margin-left: 5px;
  padding: 5px 20px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #FC8E28;
  border: none;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.button:hover {
  transform: scale(1.1);
  background-color: #157636;
}

.button:active {
  background-color: #157636;
}

.button_disabled {
  display: inline-block;
  padding: 5px 20px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: gray;
  border: none;
  border-radius: 20px;
  transition: all 0.3s ease;
  margin: 15px 15px 15px;
}

.button_page {
  display: inline-block;
  padding: 5px 20px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #157636;
  border: none;
  border-radius: 20px;
  transition: all 0.3s ease;
  margin: 15px 15px 15px;
}

.button_page:hover {
  transform: scale(1.1);
  background-color: #157636;
}

/*Faculty*/

.faculty-top {
  display: flex;
  justify-content: center;
  border-bottom: solid gray;
  min-height: 10vh;
  margin-top: 20px;
}

.faculty-top .link{
  margin: 20px;
}

table{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-top: 5%;
}

/*h2 {
  margin-left: 10%;
} */

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

control{ /*doesnt work*/
  display: flex;
  justify-content: center;
}

/*Home Page*/

/* Create two unequal columns that floats next to each other */
.column {
  box-sizing: border-box;
  border: 1px solid black;
  float: left;
  padding: 10px;
}

.left {
  width: 15%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.logo{
  width: auto;
  height: 7%;
}

.sidenav a {
  padding: 6px 6px 0px 32px;
  text-decoration: none;
  color: black;
  display: block;
  transition: all 0.3s ease;
}

.sidenav link {
  padding: 6px 6px 0px 32px;
  text-decoration: none;
  color: black;
  display: block;
  transition: all 0.3s ease;
}

.sidenav a:hover {
  color: orange;
}

.sidenav a:active {
  background-color: #157636;
}

.right {
  width: 85%;
}
